.detail {
    display: grid;
    gap: 0.3rem;
    grid-template-columns: 5fr 1fr;
    margin: 0 auto;
    max-width: 52rem;
    width: 100%;
    padding: 1rem 2rem;

    & {
        max-width: 100%;
        width: 100%;
        height: auto;
    }
}

