---
layout: zakladni
---

<div class="layout-telo">
  <h1 class="hlavni-nadpis">Všechny</h1>

  <ul>
  	{% for film in filmy %}
  		<li><a href="/filmy/{{ film.nazev | slug }}">{{ film.nazev }}</a></li>
  	{% endfor %}
  </ul>
</div>

